<h2> Quick recap to Python </h2>

In [5]:
age = 32
age

32

In [6]:
name = "John"
name

'John'

In [8]:
tax = 1.24
tax

1.24

In [9]:
Price = 1700 * tax
Price

2108.0

In [17]:
# conditionals with numbers
# often in data analytics when filtering bad data from original data
number = 11

if number>30:
    print("Big number!")
elif number==0:
    print("Zero!")
else:
    print("Something else")

Something else

#Testataan yhteys

#Testataan toimiiko yhteys

#Exercice set 1- Python and NumPy basics
#1. Create without NumPy

In [15]:
print('1' * 15)

111111111111111

#List of 15 ones.

In [16]:
print('7' * 15)

777777777777777

#List of 15 number 7's.

In [18]:
for x in range(100, 151):
    print(x)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150

#List numbers from 100 to 150.